body
{
    margin-top: 60px;
    font-family: 'Segoe UI', sans-serif
}

span {
    font-style: italic
}

.videoBox {
    border-style: solid;
    border-width: 1px;
    width: 550px;
    height: 412px;
}